.container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
}

/* stick footer at the bottom of the page */
footer {
    width: 100%;
    background-color: #121212;
    /* add a space between the footer and the body */
        padding: 1rem 0;
}