/* You can add global styles to this file, and also import other style files */

body {
    background-color: #121212;
    color: whitesmoke;
}

:root {
    /* --color-bg: #121212;
    --color-bg-variant: #292929; */

    /* TODO: create per gen color scheme to be accessible in the application */

    /* gen1 */

    /* gen2 */
    --color-primary: rgb(122, 189, 255);
    --color-primary-variant: rgba(122, 189, 255, 0.4);
    --color-white: #dedede;
    --color-light: rgba(255, 255, 255, 0.6);
    --color-secondary: #7b5ab4;

    /* etc per gen below */


    --transition: all 400ms ease;
    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 90%;
}


